@using Microsoft.Extensions.Configuration
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@inject TeamsFx teamsfx
@inject TeamsUserCredential teamsUserCredential
@inject MicrosoftTeams MicrosoftTeams
@inject IWebHostEnvironment HostEnvironment
@inject IConfiguration Configuration
@inject NavigationManager MyNavigationManager

@if(isLoading)
{
    <div style="display: flex; justify-content: center; align-items: center; min-height: 100vh;">
        <FluentProgressRing/>
    </div>
}
else
{
    <div class="welcome page">
        <div class="narrow page-padding">
            <img src="hello.png" />
            <h1 class="center">Congratulations@(!String.IsNullOrEmpty(userName) ? ", " + userName : "")!</h1>
            <h1 class="center">Error message:@(!String.IsNullOrEmpty(errorMessage) ? ", " + errorMessage : "")!</h1>
        </div>
    </div>
}

@code {
    string userName;
    string errorMessage;
    bool isLoading = true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            var user = await teamsUserCredential.GetUserInfoAsync();
            userName = user.DisplayName;
        }
        catch (Exception e)
        {
            errorMessage = e.Message;
        }
        finally
        {
            isLoading = false;
            StateHasChanged();
        }
    }
}
